<!--Titulo-->
<div class="tudo">
    <div class="corpocabe">
        <div class="titulo">
            <h1>APRESENTAÇÃO</h1>
        </div>
    </div>

    
<!-- Final Titulo-->

<!--perguntas Lucas-->
<div class="info">
    <div class="corpoper">
        <div class="box">
            <div class="nome">
                <p>Nome:</p>
            </div>
            <div class="respnome">
                <p>Lucas Lopes do Nascimento.</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="curso">
                <p>Curso:</p>
            </div>
            <div class="respcurso">
                <p>Técnico em Desenvolvimento de Sistemas.</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="objetivo">
                <p>Objetivo:</p>
            </div>
            <div class="respobjetivo">
                <p>Conseguir me desenvolver na area e ser um grande profissional.</p>
            </div>
        </div>
    <br> 
        <div class="box">
            <div class="hobbie">
                <p>Hobbie:</p>
            </div>
            <div class="resphobbie">
                <p>Ler livros e praticar esportes.</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="linkedin">
                <p>LinkedIn:</p>
            </div>
            <div class="resplinkedin">
                <p><a href="https://github.com/llnascimento">Lucas Lopes do Nascimento.</a></p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="github">
                <p>GitHub:</p>
            </div>
            <div class="respgithub">
                <p><a href="https://github.com/llnascimento">Lucas Lopes do Nascimento.</a></p>
            </div>
        </div>
    </div>
</div>
<!--Final perguntas Lucas-->
<br>
<!--perguntas Giovanni-->
<div class="info">
    <div class="corpoper">
        <div class="box">
            <div class="nome">
                <p>Nome:</p>
            </div>
            <div class="respnome">
                <p>Giovanni Cesar Sposito</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="curso">
                <p>Curso:</p>
            </div>
            <div class="respcurso">
                <p>Técnico em Desenvolvimento de Sistemas.</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="objetivo">
                <p>Objetivo:</p>
            </div>
            <div class="respobjetivo">
                <p>Ingressar na área de tecnologia.</p>
            </div>
        </div>
    <br> 
        <div class="box">
            <div class="hobbie">
                <p>Hobbie:</p>
            </div>
            <div class="resphobbie">
                <p>Assistir filmes e séries.</p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="linkedin">
                <p>LinkedIn:</p>
            </div>
            <div class="resplinkedin">
                <p><a href="https://www.linkedin.com/in/giovanni-cesar-sposito-802022193">Giovanni Cesar Sposito.</a></p>
            </div>
        </div>
    <br>
        <div class="box">
            <div class="github">
                <p>GitHub:</p>
            </div>
            <div class="respgithub">
                <p><a href="https://github.com/GIOSPO">Giovanni Cesar Sposito.</a></p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
