<!--
<div>
  <h1>texto</h1>
  <h2>texto2</h2>
</div>
!-->

<div class="tudo">
        <div class="cabecalho">
          <div id="logo">
          logo
          </div>

          <div id="dados">
          dados
          </div>
        </div>

        <div class="corpo">
          <div id="menuh">
            menu horizontal
          </div>
          <div id="menuv">
              menu vertical
          </div>
        </div>

        <div class="rodape">

          <div id="contatos">
          contatos
          </div>
        </div>
</div>



<router-outlet></router-outlet>
