<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="img-fluid" >
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"routerLink="/">INICIO<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PARQUES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MUSEUS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHOPPING</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          LOCAIS PARA VISITAR
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/locais">GRÁTIS</a>
          <a class="dropdown-item" routerLink="/locais/pagos">PAGO</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="PALAVRA CHAVE" aria-label="Search">
      <button class="btn btn-secondary active my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>
  </div>
</nav>





